.main_Component{
    background-color: rgba(0, 0, 0, 0.877);
    height: 32rem;
    width: 67rem;
    margin: 0px;
    padding: 0px;
    border-radius:15px;
    color: white;
    border: 0.01rem solid rgba(255, 255, 255, 0.285);

}
.Header{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.heading{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.Menu_options{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.menu{
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.menu:hover{
    background-color: white;
    color: rgba(137, 7, 237, 0.795);
    padding: 3px;
    border-radius: 2px;
}
.user_image{
    position: absolute;
    top: 10rem;
    left: 50rem;
}
.sub_Heading{
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.02rem;
}
.user_Name{
    color: rgba(138, 7, 237, 0.991);
}
.introduction_subHeading{
    padding: 0px;
    margin: 0px;
    margin-top: 6rem;
    margin-left: 3rem;
    height: 10rem;
    display: inline-block;

}
.text{
    margin-top:2rem ;
    display: inline-block;
    width: 30rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(212, 210, 210);
}
.button{
    margin: 0px;
    padding: 0px;
    height: 2rem;
    width: 9rem;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: rgba(138, 7, 237, 0.991);
    color: white;
    font-weight: 600;
    letter-spacing: 0.01rem;
}
.button:hover{
    cursor: pointer;
    background-color: rgba(137, 7, 237, 0.795);
}
.button:active{
    background-color: rgb(137, 7, 237);

}
.icon{
    position: absolute;
    font-weight: 600;
    font-size: 2rem;
    top: 10rem;
    left: 49rem;
}
.icon1{
    position: absolute;
    font-weight: 600;
    font-size: 2rem;
    top: 30rem;
    left: 69rem;
}