.image{
    height: 9rem;
    width: 9rem;
    padding: 0px;
    margin: 0px;
    border-radius: 500%;
}
.main_Container{
    height: 24rem;
    width: 17rem;
    background-color: rgba(255, 255, 255, 0.941);
    box-shadow: 5px 5px 5px 6px rgba(128, 128, 128, 0.491);
    color: black;
    cursor: pointer;
    border-radius: 8px;
    border: 0.01rem solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    padding: 0px;
    margin: 0px;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.heading{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.role{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}
.techstack{
    font-size: .7rem;
    font-weight: 600;
}
.description{
    width: 14rem;
}