.main_Container{
    height: 26rem;
    width: 18rem;
    background-color: rgb(245, 245, 245);
    box-shadow: 7px 7px 7px 10px rgba(212, 211, 211, 0.491);
    color: black;
    cursor: pointer;
    border-radius: 8px;
    border-radius: 30% 0%;
    border: 0.01rem solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.image{
    padding: 0px;
    margin: 0px;
    height: 12rem;
    width: 12rem;
    border-radius: 12px;
}
.heading{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.role{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}
.techstack{
    font-size: .7rem;
    font-weight: 600;
}
.description{
    width: 12rem;
}