html{
    scroll-behavior: smooth;
}
.mainComponent{
    background-color: rgba(0, 0, 0, 0.922);
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2.4rem;   
}